
@{
    ViewBag.Title = "Bài Viết Nổi Bật";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey">

    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">

        <!-- Header -->
        <header class="w3-container w3-center w3-padding-32">
            <h1 style="font-family:Impact;"><b>BLOGS</b></h1>
            <p>Chào Mừng Đến với Trang Bài Viết Của <span class="w3-tag">DangHandsome</span></p>
        </header>

        <!-- Grid -->
        <div class="w3-row">

            <!-- Blog entries -->
            <div class="w3-col l8 s12">
                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="~/Storage/bnr-3.jpg" alt="Nature" style="width:100%">
                    <div class="w3-container">
                        <h3><b>SẢN PHẨM NỔI BẬT</b></h3>
                        <h5>Được cập nhật vào :<span class="w3-opacity"> 03/06/2023</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            Garmin luôn được biết đến là dòng đồng hồ thể thao và GPS chuyên nghiệp với những tính năng độc quyền hỗ trợ tối đa cho việc tập luyện thể thao không chuyên và chuyên nghiệp. 
                            Hãy cùng tìm hiểu những công nghệ vô cùng độc đáo do Garmin phát triển dành riêng cho người dùng của mình nhé.
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <!-- Blog entry -->
                <div class="w3-card-4 w3-margin w3-white">
                    <img src="~/Storage/CONGNGHEMOI.jpg" alt="Norway" style="width:100%">
                    <div class="w3-container">
                        <h3><b>THIẾT KẾ ĐỘC ĐÁO</b></h3>
                        <h5>Được cập nhật vào : <span class="w3-opacity"> 07/06/2023</span></h5>
                    </div>

                    <div class="w3-container">
                        <p>
                            TIKKER, chiếc đồng hồ độc đáo với khả năng đếm ngược cái chết của người đeo, hay nói một cách chính xác hơn là chiếc đồng hồ này có khả năng dự đoán thời gian xảy ra cái chết của chủ nhân.

                            Để thực hiện việc dự đoán này thì chiếc đồng hồ độc đáo lạ thường TIKKER đòi hỏi người đeo phải cung cấp các thông số như: có nghiện rượu hoặc hút thuốc hay không, tiền sử bệnh tật, cường độ tập thể dục…vv. TIKKER được nhà thiết kế gọi là “chiếc đồng hồ hạnh phúc”
                        </p>
                        <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                                <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END BLOG ENTRIES -->
            </div>

            <!-- Introduction menu -->
            <div class="w3-col l4">
                <!-- About Card -->
                <div class="w3-card w3-margin w3-margin-top">
                    <img src="~/Storage//avt.jpg" style="width:100%">
                    <div class="w3-container w3-white">
                        <h4><b>CEO</b></h4>
                        <p>Ngô Bá Khá (sinh ngày 27 tháng 11 năm 1993), thường được biết đến với biệt danh Khá Bảnh, là một giang hồ mạng, YouTuber người Việt Nam. Anh nổi tiếng với các hình ảnh ăn chơi và đặc biệt là điệu múa quạt đã trở thành trào lưu của giới trẻ.</p>
                    </div>
                </div><hr>

                <!-- Posts -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Sản Phẩm Sắp Ra Mắt</h4>
                    </div>
                    <ul class="w3-ul w3-hoverable w3-white">
                        <li class="w3-padding-16">
                            <img src="~/Storage/APPLE-8.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px">
                            <span class="w3-large">NEW APPLE WATCH</span><br>
                            <span>Sản Phẩm Ra Mắt Với Màu Hồng Cá Tính</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="~/Storage/APPLE-2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px">
                            <span class="w3-large">NEW APPLE WATCH</span><br>
                            <span>Sản Phẩm Có Nhiều Tính Năng Mới Độc Lạ</span>
                        </li>
                        <li class="w3-padding-16">
                            <img src="~/Storage/APPLE-3.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px">
                            <span class="w3-large">NEW APPLE WATCH</span><br>
                            <span>Màu Đen Quý Phái Dành Cho Nam Giới</span>
                        </li>
                        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
                            <img src="~/Storage/APPLE-7.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px">
                            <span class="w3-large">NEW APPLE WATCH</span><br>
                            <span>Sử Dụng Vàng 24k Để Làm Tăng Giá Trị</span>
                        </li>
                    </ul>
                </div>
                <hr>

                <!-- Labels / tags -->
                <div class="w3-card w3-margin">
                    <div class="w3-container w3-padding">
                        <h4>Thương Hiệu Nổi Bật</h4>
                    </div>
                    <div class="w3-container w3-white">
                        <p>
                            <span class="w3-tag w3-black w3-margin-bottom">ORIENT</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">CITIZEN</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">CASIO</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">TISSOT</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">HUBLOT</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">ROLEX</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">BOMBA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">YASUO</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">YONE</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">ZED</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">GGKING</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DANGHANDSOME</span>
                            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">SAMSUNG</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">XIAOMI</span>
                        </p>
                    </div>
                </div>

                <!-- END Introduction Menu -->
            </div>

            <!-- END GRID -->
        </div><br>

        <!-- END w3-content -->
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
        <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
        <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
    </footer>

</body>
</html>


